.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.8rem 0;
  color: rgb(243, 109, 47);
  height: 8rem;
  margin: 0 0 1rem;
  border-bottom: 1px solid rgba(211, 211, 211, 0.932);
}

.newOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  margin: 1rem auto 2rem;
  height: 3rem;
  font-size: 1rem;
  background-color: rgb(243, 109, 47);
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.orders {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
